@model RegisterDto
<div class="register-block">
    <h2>Register</h2>
    <form asp-action="Register" method="post">
        <div class="account-input-field">
            <label asp-for="Username" class="control-label"></label>
            <input type="text" asp-for="Username" placeholder="username" required />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="account-input-field">
            <label asp-for="Name" class="control-label"></label>
            <input type="text" asp-for="Name" placeholder="john doe" required />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="account-input-field">
            <label asp-for="BirthDate"></label>
            <input type="date" asp-for="BirthDate" required />
            <span asp-validation-for="BirthDate" class="text-danger"></span>
        </div>
        <div class="account-input-field">
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password" placeholder="•••••••••••" required />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="account-input-field">
            <label asp-for="PasswordConfirmation"></label>
            <input type="password" asp-for="PasswordConfirmation" placeholder="•••••••••••" required />
            <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
        </div>        
        <button id="register-btn">Register</button><br />
        <button id="go-to-register">
            <a asp-controller="Auth" asp-action="Login">I have an account</a>
        </button>
    </form>
</div>