@model List<Song>

<div class="songlist" style="">
    @foreach (Song song in Model)
    {
        <div class="row col-12">
            <button class="songplaybtn"><i class="fa-solid fa-play"></i></button>
            <span class="col-8">@song.Title</span>
            <span class="col-2">@song.FormattedDuration</span>
        </div>
    }
</div>